.container {
  box-sizing: border-box;
  max-width: 1024px;
  margin: auto;
  padding: 2rem;
}

.result-container {
  height: 80vh;
  margin: 1rem 0;
  border: 1px solid black;
}

.graph-container {
  width: 100%;
  height: 50%;
}
